<div class="hero is-link">
	<div class="container has-text-centered">
		<h1 class="title">Create New Account</h1>
		<h2 class="subtitle">Work as the team Admin</h2>
	</div><br><br>
    <%= render 'form' %><br>
</div>